@import "tailwindcss";

:root {
  --background: #f5f0e8;
  --background-card: #ffffff;
  --primary: #2d6a4f;
  --primary-light: #52b788;
  --accent: #f4845f;
  --accent-2: #e9c46a;
  --text-primary: #1b2a1e;
  --text-secondary: #5c6b5e;
  --border: #d4c5a9;
  --navbar: #1b2a1e;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: var(--font-geist-sans), sans-serif;
}
